  
<h1>Post for <%= @store[:title] %></h1>

<form action="/stores/<%= @store[:id] %>/posts/create" method="POST">
  <div class="form-group">
    <label>Tell us what you thought</label>
    <select class="form-control" name="like">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="3" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>